[submodule "rime-ice"]
	path = rime-ice
	url = https://github.com/iDvel/rime-ice.git
[submodule "rime-kagiroi"]
	path = rime-kagiroi
	url = https://github.com/rimeinn/rime-kagiroi.git
[submodule "RIME-LMDG"]
	path = RIME-LMDG
	url = https://github.com/amzxyz/RIME-LMDG.git
